################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Capicity/.vs/Capicity
/.vs/Capicity
/Capicity/x64/Debug
/x64/Debug
